@model CategoryLinksManager;

<div class="row my-3">
            <div class="col-4">
                <h2>_launchPad. <small>Administration</small> </h2>
            </div>
             <div class="col-3">
                <form method="post" id="frmLogout" asp-controller="Admin" asp-action="Logout"><button type="submit" class="btn btn-light">Logout</button></form>
            </div>
</div>
<div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display:none">
  <strong>WARNING : Session is about to expire in 2 mins!  Please refresh the page before the session expires</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="row mt-4">
    @{var i= 1;}
    @foreach (var item in Model.categories) {        
        <div class="col-md-3 col-sm col-lg-3 category_@i">
            <div class="row mb-4"> 
                <div class="col mt-2">
                    <form method="post">
                    <input type="hidden" name="categoryId" value="@item.categoryId"/>
                    <input type="hidden" name="categoryName" value="@item.categoryName"/>
                    <strong style="overflow-wrap: break-word">@item.categoryName</strong>
                    <button type="submit" class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="Add">
                       <i class="fa-solid fa-plus"></i>                    
                    </button>
                    <button type="submit" class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="UpdateCategory">
                       <i class="fa-solid fa-pen"></i>
                    </button>
                    </form>
                </div>                
            </div>            
           
            @foreach (var link in Model.categoryLinks) {
                if(link.categoryId == item.categoryId){
                     <div class="row mt-2 mr-4">
                        @* <div class="row mt-2 links @(@link.pinned == "true" ? "pinned" : "")"></div> *@
                        <div class="col mr-2 @(@link.pinned == "true" ? "pinned" : "")">
                            <form method="post">
                            <input type="hidden" name="linkId" value="@link.linkId"/>
                            <input type="hidden" name="categoryName" value="@item.categoryName"/>
                            <input type="hidden" name="link" value="@link.link"/>
                            <input type="hidden" name="href" value="@link.href"/>
                            <button type="submit" class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="Update">
                            <i class="fa-solid fa-pen"></i>
                            </button> 
                            <button type="submit" class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="Delete">
                            <i class="fa-solid fa-trash"></i>
                            </button>
                            <span><img src="https://www.google.com/s2/favicons?domain_url=@link.href" alt="logo"/></span>
                            <a href="@link.href" target="_blank"><span style="overflow-wrap: break-word">@link.link</span></a>
                            </form>
                        </div>
                     </div>  
                }
            }
          
        </div>       
         i++; 
    }
 
</div>
<div class="row">
    <div class="col text-info">
        @ViewData["feedback"]
    </div>
</div>


@section scripts{
    <script language="javascript" type="text/javascript">
    
    setTimeout('SessionWarning()', sessionTimeoutWarning * 1000 * 60);
</script>
}

