@model CustomerManager;

<div class="row my-3">
            <div class="col">
                <h2>_launchPad.</h2>
            </div>
</div>
<div class="row my-4">
    <div class="col">
        <h4>Customer Administration</h4>
        <div style="margin-bottom:10px">Click the button below to add a new customer:</div>
        <form method="post">
            <button type="submit" class="btn btn-warning" asp-controller="Home" asp-action="Add">Add</button>
            <button type="submit" class="btn btn-warning" asp-controller="Home" asp-action="Delete">Delete</button>
            <button type="submit" class="btn btn-warning" asp-controller="Home" asp-action="Update">Update</button>
        </form>
    </div>
</div>

<div class="row mb-2">
    <div class="col">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>Postal</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.customers) {
                    <tr>
                        <td>@item.customerID</td>
                        <td>@item.lastName</td>
                        <td>@item.firstName</td>
                        <td>@item.address</td>
                        <td>@item.city</td>
                        <td>@item.province</td>
                        <td>@item.postal</td>
                        <td>@item.phone</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col text-info">
        @ViewData["feedback"]
    </div>
</div>
